
.form-container{
    position: absolute;
    margin-top: -2rem;
    background-size: cover;
    // overflow-x: auto;
    height: 100vh;
    width: 100%;

    background-color: white;
    // background: linear-gradient(#f5f8f5, rgb(255, 255, 255));
    background-blend-mode: multiply;
    filter: blur(10px);
    background-position: center center;
    background-size: cover;
    z-index: -1;

    top: -5px;
    left: -5px;
    bottom: -2px;
    right: -2px;
    // opacity: 0.5;
}


.intro-form{
    z-index: 100;
    position: absolute;
    right: 50%;
    left: 50%;
    transform: translate(-50%, 50%);
    box-shadow: 2px 2px 10px rgb(184, 180, 180);
    border-radius: .5rem;
    text-align: center;
    padding: 1rem;
    font-size: .7rem;
    width: 25%;
    filter: none;
    background-color: rgba(255, 255, 255, 0.062);



    @media screen and (max-width: 768px){
        width: 60%;
        box-shadow: none;
    }

    p{
        margin: 0;
        padding: 0;
        font-size: .8rem;
        color: rgb(155, 156, 152);
    }

    h2{
        margin: 0;
        padding: 0;
        margin-bottom: 1rem;
        color: darkgreen;
    }
}

.email-input, .password-input, .submit-button{
    box-sizing: border-box;
    width: 100%;
    margin-bottom: .7rem;
    border-radius: .5rem;
    outline: none;
    border: none;
    padding: .5rem;
    box-shadow: 0px 2px 7px rgb(201, 199, 199);

    // background:
    color: rgb(166, 168, 166);
    background: transparent;
}

.submit-button{
    cursor: pointer;
    background: rgb(209, 208, 208);
    transition: .4s;
    color: white;
    outline: none;
    border: none;
}

.submit-button:hover{
    background-color:var(--darkgreen);
}

// .email-input:focus, .password-input:focus{
//     box-shadow: 0px 0px 4px var(--darkgreen);
// }


.error{
    color: rgb(168, 161, 161);
    text-align: center;
    margin: 0 auto;
    width: 25%;
    padding: .2rem;
    border-radius: 5px;
    box-shadow: 2px 2px 10px lightslategray;
    font-size: .7rem;
}