// Place all the styles related to the Notes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.note{
    background-color: white;
    box-shadow: 1px 2px 4px 2px rgb(189, 185, 185);
    position: absolute;
    z-index: 100;

    border-radius: 5px;
    padding: 1rem;
    padding: 2.5rem;
    top: 3.5rem;

    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: column;
    right: 0;

    transform: scale(0);
    font-size: .7rem;

    left: 40%;
    width: 40%;
}

.editor{
    width: 100%;
    z-index: 1000;
    padding: 1rem;

    .RichTextEditor__root___2QXK- richText{
        border: 2px solid var(--main);
        font-size: .7rem;
    }

    .public-DraftStyleDefault-ltr,
    .public-DraftStyleDefault-block {
    }

    label{
        color: var(--gradient);
        font-size: .7rem;
    }

    input{
        padding: .1rem;
        outline: none;
        border: none;
        background-color: rgb(230, 226, 223);
        border: 1px solid var(--gradient);
        width: 100%;
        border-radius: 5px;
        margin-bottom: 1rem;
        padding-left: .5rem;
        color: rgb(14, 1, 1);
    }

    button{
        cursor: pointer;
        padding: .2rem;
        // background: var(--gradient);
        background-color: green;
        border: none;
        color: white;
        outline: none;
        border-radius: 5px;
        margin-top: 1rem;
        width: 100%;
        transition: .2s;

        &:hover{
            background: var(--gradient);
            color: whitesmoke;
        }
    }
}

.close-note{
    position: absolute;
    top: .5rem;
    right: -.2rem;
    width: 1rem;
    background: var(--main);
    cursor: pointer;
    color: whitesmoke;
    display: block;
    margin-bottom: 2rem;
    margin-right: 1rem;
    text-align: center;
    border-radius: 50%;
    width: 1.3rem;
    height: 1.3rem;
    font-size: .7rem;
    line-height: 1.3rem;

    cursor: pointer;
}

.close-note:hover{
    background-color: var(--gradient);
}

.note-list{
    // margin-left: -1.5rem;
    background-color: rgb(255, 255, 255);
    box-shadow: 1px 2px 4px 2px rgb(189, 185, 185);
    box-sizing: border-box;
    border-radius: 5px;
    padding: 1rem;
    list-style-type: none;
    list-style: none;

    position: absolute;
    top: 3rem;
    right: -10rem;
    span{
         display: block;
         margin: 0 auto;
         font-weight: 300;
         color: var(--darkgreen);
        //  background-color: rgb(88, 167, 231);
         text-align: center;
         font-size: 1.1rem;
     }
     li{
         cursor: pointer;
         list-style: none;
         padding: .2rem;
         border-bottom: 1px solid rgb(235, 228, 228);

         &:hover{
            background-color: var(--darkgreen);
            color: white;
         }
     }
}