// Place all the styles related to the Notes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.note{
    background-color: white;
    box-shadow: 1px 2px 4px 2px rgb(189, 185, 185);
    // width: 55%;
    position: absolute;
    transform: scale(1);
    z-index: 100;

    border-radius: 5px;
    padding: 1rem;
    left: 50%;
    top: 3.5rem;

    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: column;
    right: 0;

    transform: scale(0);
}


.editor{
    width: 100%;
    // height: 100vh;
    // width: 100vh;
    z-index: 1000;

    padding: 1rem;

    .RichTextEditor__root___2QXK- richText{
        border: 2px solid var(--main);
    }

    .public-DraftStyleDefault-ltr,
    .public-DraftStyleDefault-block {
    }

    input{
        padding: .1rem;
        outline: none;
        border: none;
        background-color: rgb(243, 149, 95);
        /*border: 2px solid var(--main);*/
        width: 100%;
        border-radius: 5px;
        margin-bottom: 1rem;
        padding-left: .5rem;
        color: white;
    }

    button{
        padding: .2rem;
        background-color: var(--gradient);
        border: none;
        color: white;
        outline: none;
        border-radius: 5px;
        margin-top: 1rem;
        width: 100%;
    }
}

.close-note{
    position: absolute;
    top: .5rem;
    right: -.2rem;
    width: 1rem;
    background: var(--main);
    cursor: pointer;
    color: whitesmoke;
    display: block;
    margin-bottom: 2rem;
    margin-right: 1rem;
    text-align: center;
    border-radius: 50%;
    width: 1.3rem;
    height: 1.3rem;
    font-size: .7rem;
    line-height: 1.3rem;

    cursor: pointer;
}

.close-note:hover{
    background-color: var(--gradient);
}