.productivity{
    margin-top: 2rem;
    margin-left: 1rem;
    color: rgb(136, 6, 6);
}

.date-wrapper{
    background-color: rgb(255, 255, 255);
    width: 30%;
    box-shadow: 2px 2px 4px rgb(189, 185, 185);
    padding: .5rem;
    margin-bottom: 1rem;

    border-radius: 40px;
    display: flex;
}

.date{
    // background-color: rgb(235, 156, 66);
    box-shadow: -2px 2px 4px rgb(189, 185, 185);
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
    margin-right: .2rem;

    font-size: 2rem;
    text-align: center;
    line-height: 4rem;
    position: relative;
}

.date span{
    position: absolute;
    font-size: .5rem;
    left: 0;
    // background-color: rgb(168, 140, 140);

    text-transform: uppercase;
    color: rgb(109, 47, 47);
    top: -1.4rem;
    width: 100%;
}

.icons{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 70%;

    span{
        background-color: rgb(243, 237, 237);
        width: 1.5rem;
        height: 1.5rem;
        text-align: center;
        border-radius: 50%;
        cursor: pointer;

        transition: .2s;
    }

    span:hover{
        background-color: rgb(221, 196, 196);;
    }
}