:root {
    --main: rgb(137, 141, 136);
    --gradient1: linear-gradient(rgb(73, 187, 7), darkgreen);
    --gradient: var(--gradient1);
    --lightgreen: rgb(111, 214, 8);
    --darkgreen: darkgreen;
}

.productivity{
    width: 80%;

    color: var(--main);
    margin: 0 auto;
    position: relative;
}

.page-body{
    box-sizing: border-box;
    padding-top: 1rem;
    position: relative;
}

.date-container{
    width: 100%;
    padding: 1rem;
    border-radius: 5px;
    box-shadow: 1px 2px 4px 2px rgb(189, 185, 185);
    display: flex;
    flex-wrap: wrap;
    padding: 2.5rem;
}

.date-wrapper{
    background-color: rgb(255, 255, 255);
    width: 100%;
    // box-shadow: -2px 2px 4px 2px rgb(189, 185, 185);
    padding: .5rem;
    margin-bottom: 1rem;
    border: 1px solid rgb(173, 165, 165);
    border-radius: 5px;
    display: flex;
}

.date{
    background: var(--gradient);
    // box-shadow: 2px 2px 4px 3px rgb(189, 185, 185);
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    margin-right: .2rem;

    font-size: 1.5rem;
    text-align: center;
    line-height: 3rem;
    position: relative;

    color: whitesmoke;
}

.date span{
    position: absolute;
    font-size: .5rem;
    left: 0;
    // background-color: rgb(168, 140, 140);
    text-transform: uppercase;
    top: -1rem;
    width: 100%;
}

.icons{
    // background-color: rgb(207, 151, 151);
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 70%;
    margin-left: .5rem;


    span{
        // background-color: rgb(243, 237, 237);
        width: 1.8rem;
        height: 1.8rem;
        text-align: center;
        border-radius: 50%;
        cursor: pointer;
        color: grey;

        transition: .2s;
    }

    span:hover{
        // transform: scale(0);
        border: 1px solid rgb(235, 176, 149);
        color: rgb(219, 90, 4);
    }

    span:active{
        color: rgb(241, 214, 194);
    }

    .icon-task:active{
        transform: scale(0);
    }
}


.spinner-wrapper{
    margin: 0 auto;
}

.spinner{
    display: block;
    font-size: 1rem;
    background: var(--gradient);
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    margin: 0 auto;
}

.date-header{
    width: 100%;
    display: block;
    text-align: center;
    font-size: .9rem;
    margin: 0 auto;
    margin-bottom: 1rem;

    color: darkgreen;
}

.left{
    width: 35%;
    display: flex;
    flex-direction: column;
}

.content{
    margin-top: 1rem;
    // background-color: rgb(255, 255, 255);
    // width: 100%;
    // box-shadow: -2px 2px 4px 2px rgb(189, 185, 185);
    // padding: .3rem;
    // margin-bottom: 1rem;
    // border: 1px solid rgb(173, 165, 165);
    // border-radius: 5px;
    // display: flex;

    width: 100%;
    padding: 1rem;
    border-radius: 5px;
    box-shadow: 1px 2px 4px 2px rgb(189, 185, 185);
    display: flex;
    flex-wrap: wrap;
}
