#task{
    color: rgb(99, 93, 93);
    background-color: rgb(255, 255, 255);
    box-shadow: 1px 2px 4px 2px rgb(189, 185, 185);
    position: absolute;
    z-index: 100;
    padding: 1rem;
    border-radius: 5px;
    width: 45%;
    padding: 2.5rem;
    transform: scale(0);

    left: 40%;
    top: 3.5rem;

    font-size: .7rem;
    
    .input{
        outline: none;
        width: 88%;
        margin: 0 auto;
        border: 1.5px solid var(--main);
        border-radius: 5px;
        padding: .2rem;
        font-size: .7rem;
        margin-right: .2rem;
    }

    .add{
        width: 10%;
        position: absolute;
        // right: 1rem;
        background: rgb(75, 146, 3);
        border: none;
        border-radius: 5px;
        padding: .2rem;
        font-size: .8rem;

        transition: .2s;
    }

    .gbackGround{
        background: rgb(111, 214, 8);
        transition: .3s;
    }

    .closeTask{
        position: absolute;
        top: .5rem;
        right: -.2rem;
        width: 1rem;
        background: var(--main);
        cursor: pointer;
        color: whitesmoke;
        display: block;
        margin-bottom: 2rem;
        margin-right: 1rem;
        text-align: center;
        border-radius: 50%;
        width: 1.3rem;
        height: 1.3rem;
        font-size: .7rem;
        line-height: 1.3rem;
    }

    .closeTask:hover{
        background-color: var(--gradient);
    }

    .form-input{
        margin-bottom: 1rem;
        margin-top: 2rem;
    }

    ul{
        list-style-type: none;
        color: rgb(109, 107, 107);

        li{
            display: flex;
            justify-content: space-between;
            margin-left: -2.5rem;
            margin-bottom: .5rem;
        }
    }
}

.edit{
    cursor: pointer;
    color: rgb(111, 214, 8);
    margin-left: .7rem;
    font-size: .8rem;
    transition: .2s;

    &:hover{
        color: darkgreen;
    }
}

.col-xs-10{
    position: absolute;
    left: 0;
}

.task-empty{
    color: rgb(170, 169, 166);
    text-align: center;
}

.task-header{
    margin-top: 1rem;
    // background-color: rgb(241, 139, 99);
    text-align: center;
    p{
    }
    span{
        display: block;
        font-size: 1.2rem;
        color: green;
    }
}